<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--配置信息-->
    <!--<add key="CompanyId" value="E98EDA6C-3F1A-4DE0-9AAB-DE3AF2E10013" />-->
    <!--此处配置公司编号，请联系***获取-->
    <!--<add key="CompanyId" value="783F2EFD-F5FA-443B-9A93-9527D2E2D419" />-->

    <add key="CompanyId" value="3472ED19-B5C4-44A4-B032-19E8F2F448C1" />
    <!--此处获取令牌，请联系***获取地址-->
    <add key="GetTokenApi" value="http://222.240.193.158:11841/api/Service/GetToken"/>
  </appSettings>
</configuration>